.menu ul{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: cornflowerblue;
    font-size: 25px;
    color: black;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.menu ul li{
    width: 20%;
    height: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightskyblue;
}
.menu a {
    text-decoration: none;
}
.menu a:visited{
    color: black;

}