@media screen and (max-width: 480px) {
    .items{
        padding: 32px 16px;
        flex-wrap: wrap;
        width: 100%;
    }
    .item{
        width: 100%;
    }
    .item img{
        width: 128px;
    }
    .item h3{
        margin: 16px 0 8px 0;
    }
    .item p{
        width: 100%;
    }
}