@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: darkslategray;
}
.container{}
.ground img{
    width: 50vw;
    border-bottom: 10px solid black;
}
.butterfly img{
    width: 5vw;
    animation: butterfly 5s ease-in-out infinite alternate;
}

.loading{
    font-family: "Indie Flower", cursive, sans-serif;
    color: red;
    position: absolute;
    top: 30vh;
    font-size: 50px;
}

@keyframes butterfly{
    from{
        transform: translateX(0) translateY(30vh);
    }
    20%{
        transform: translateX(9vw) translateY(25vh);
    }
    40%{
        transform: translateX(18vw) translateY(20vh);
    }
    60%{
        transform: translateX(27vw) translateY(30vh);
    }
    80%{
        transform: translateX(36vw) translateY(20vh);
    }
    to{
        transform: translateX(45vw) translateY(25vh);
    }
}
