.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    background: lightgrey;
}
.products-container button {
    width: 50%;
    height: 30px;
    border: 1px solid blue;
    border-radius: 5px;
    background: white;
    margin-top: 10px;
    cursor: pointer;
}