*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background: darkcyan;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Manrope, sans-serif;
}
.login-container{
    width: 35vw;
    height: 50vh;
    background: white;
    border-radius: 12px;
}
.login-container>div{
    height: 28%;
    background: #e9f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.login-container>div>h3{
    font-weight: 400;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 72%;
}
form>input{
    width: 70%;
    height: 13%;
    margin: 2.5%;
}
input::placeholder{
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}
form>.wrapper{
    display: flex;
    justify-content: space-between;
    width: 69%;
    margin-top: 2vh;
}
input[type=checkbox]{
    margin-left: 8px;
}
input[type=submit]{
    border: 1px solid grey;
    width: 6vw;
    height: 3.5vh;
    font-size: 15px;
    font-family: Manrope, sans-serif;
    border-radius: 12px;
}
form>.wrapper>label{
    font-size: 18px;
}