@import 'fonts/fonts.css';

.container{
    display: flex;
    justify-content: space-evenly;
    height: 200px;
}
.block{
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1d9bf;
}
p{
    font-size: 20px;
}