*{
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
    background: orange;
    font-family: Bahnschrift, Arial, sans-serif;
    font-size: 20px;
}
img{
    width: 15vw;
    animation: spin ease-in-out 1.2s infinite;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}