.add-car-form {
    width: 40vw;
    margin: 200px auto auto auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 2px grey solid;
    border-radius: 10px;
    padding: 10vh 0;
    background: darkseagreen;
}
.add-car-form h3{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
.add-car-form input {
    width: 400px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    border: none;
}
.add-car-form button {
    width: 400px;
    height: 40px;
    font-size: 30px;
    background: green;
    border: 1px black solid;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}
